## Use MCDA to rank car models based on given criteria and weights.

In [1]:
import csv
import pandas as pd

In [2]:
data = [
    ["Car Model", "Fuel Efficiency", "Safety Rating", "Price", "Cargo Space", "Acceleration", "Warranty"],
    ["A", 30, 5, 25000, 15, 8, 3],
    ["B", 25, 4, 30000, 20, 6, 5],
    ["C", 35, 5, 20000, 10, 10, 2],
    ["D", 40, 3, 24000, 30, 7, 1],
    ["E", 38, 1, 15000, 10, 10, 3],
    ["F", 40, 4, 28000, 15, 9, 4],
]

In [3]:
csv_file = "car_data.csv"

with open(csv_file, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [4]:
input_matrix = pd.read_csv(csv_file)

In [6]:
input_matrix

,Fuel Efficiency,Safety Rating,Price,Cargo Space,Acceleration,Warranty
Car Model,,,,,,
A,30,5,25000,15,8,3
B,25,4,30000,20,6,5
C,35,5,20000,10,10,2
D,40,3,24000,30,7,1
E,38,1,15000,10,10,3
F,40,4,28000,15,9,4